<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digibuddies.cnectus">

    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cnectus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:replace="android:icon,label">
        <activity
            android:name="com.digibuddies.cnectus.splashactivity"
            android:label="Cnectus"
            android:launchMode="standard"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.digibuddies.cnectus.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.digibuddies.cnectus.profile.profileclass"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.digibuddies.cnectus.questions"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.digibuddies.cnectus.matches"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.digibuddies.cnectus.Help"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.digibuddies.cnectus.Feed"
            android:configChanges="orientation|screenSize"/>

        <service
            android:name="com.digibuddies.cnectus.thebackservice"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.digibuddies.cnectus.alarmreceiver"
            android:process=":remote" />

        <activity android:name="com.digibuddies.cnectus.Aboutus"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.digibuddies.cnectus.contact"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.digibuddies.cnectus.connections"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>