<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digibuddies.cnectus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cnectus"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,label">
        <activity
            android:name=".splashactivity"
            android:label="Cnectus"
            android:launchMode="standard"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".profile.profileclass"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".questions"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".matches"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Help"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Feed"
            android:configChanges="orientation|screenSize" />

        <service
            android:name=".thebackservice"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".alarmreceiver"
            android:process=":remote" />

        <activity
            android:name=".Aboutus"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".contact"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".connections"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".search"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".notify.FcmInstanceIdService"
            android:enabled="true"
            android:priority="10000">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notify.FcmMessageService"
            android:enabled="true"
            android:priority="10000">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Chat"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".group"></activity>
    </application>

</manifest>